header{
    position: fixed;
    background-color: #F2F2F2;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 2;
}
.left_area h2{
    color: #3B7F58;
    margin: 0px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-top: -10px;
}
.left_area span{
  color: #000000; 
}
.right_area{
    padding: 5px;
    background: #219653;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 15px;
    font-size: 15px;
    width: 90px;
    transition: 0.5s;
    transition-property: background;
}
.right_area :hover{
    background: #1f7e48;
    width: 80px;
    border-radius: 15px;
}
.right_area a{
    display: flex;
    color: #FFFBFB;
    justify-content: center;
    text-decoration: none;
}