.sidebar {
    background:#3B7F58;
    margin-top: 40px;
    padding-top: 30px;
    position: fixed;
    left: 0px;
    width: 200px;
    height: 100%;
    border-radius: 20px 0px;
    grid-area: sidebar;
}
.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.sidebar h4 {
    color: #ccc;
    margin-top: -5px;
    margin-bottom: 20px;
    font-size: 15px;
}
.sidebar a {
    color: #F2F2F2;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    background: #6FCF97;
}
.sidebar span{
    padding: 5px;
}
.image-section{
    position: relative;
    width: 120px;
    height: 120px;
}
.image-profile{
    position: absolute;
}
.editIcon{
    position: absolute;
    right: 30px;
    bottom: 40px;
}
.editIcon img{
    width: 20px;
}
.file-input{
    display: none;
}