.header{
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}
.header span{
    color: #3B7F58;
}
.confirmation_section{
    height: 60vh;
    margin: 70px auto 120px auto;
    border: 1px solid rgba(0,0,0,0.15);
    max-width: 600px;
    text-align: center;
    line-height: 2.6;
}
.confirmation_head img{
    width: 50px;
    height: 80px;
}
