.editProfile {
    grid-area: editProfile;
}
.editProfile_form {
    padding-top: 90px;
    margin-left: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
input[type=text],input[type=tel]{
    display: block;
    border: none;
    background:  #F2F2F2;
    font-size: 17px;
}
.updateButton {
    margin: 50px 180px 0 0px;
    display: flex;
    justify-content: center;
}
.updateButton button{
    width: 150px;
    background-color: rgba(81, 171, 120, 0.96);
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 30px;
    border-style: none;
    display: block;
}
.updateButton button:hover{
    background-color: #1f7e48;
}
.accountType{
    text-align: center;
    margin-top: 60px;
}
.accountType h4{
    font-size: 25px;
}
.accountType_button button{
    color: #FFFFFF;
    background-color: rgba(81, 171, 120, 0.96);
    border-style: none;
    margin: 20px;
    width: 80px;
    border-radius: 50px;
}
.accountType_button :hover{
    background-color: #1f7e48;
}