body {
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  font-family: 'Droid Serif', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.col-md-12{
    margin-top: 8%;
}

.bg-light {
  background-color: #f2f2f2 !important;
}
.navpadding li a {
  color: #fff !important;
}

.navbar-brand {
  font-family: 'Pacifico';
  color: rgb(10, 155, 46) !important;
  font-size: 30px;
}

.nav-link {
  font-size: 1rem;
  margin: 2px 10px;
  color: black !important;
  font-family: 'Roboto Condensed';
}

.nav-link:hover {
  color: #00e8e8 !important;
}

#nav-logo {
  color: #3b7f58;
  font-weight: bold;
  line-height: 140.62%;
}

.card-img-top {
  width: 100% !important;
  height: 40vh;
  object-fit: cover;
}

@media (max-width: 575.98px) {
  .reduced-width {
    width: 90%;
    margin: auto;
  }
}

#subheading {
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  color: #eee !important;
  margin-bottom: 40px;
}

.linkcol {
  border: 1px solid grey;
  border-radius: 40px;
}

header.masthead {
  text-align: center;
  padding-top: 17rem;
  padding-bottom: 6rem;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 2.25rem;
  }
}

.btn-social {
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fa-twitter {
  color: #00aced;
  font-size: 2rem;
}

#fab {
  background: #3b5998;
}
#insta {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}
.fa-facebook-f {
  color: #fff;
  font-size: 1.5rem;
}
.fa-instagram {
  font-size: 2rem;
  color: #fff;
  border-radius: 20%;
}

#footer {
  font-family: 'pacifico';
  margin: 1rem 0;
  font-style: italic;
}

@media (max-width: 575.98px) {
  #footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 575.98px) {
  #footer_div {
    text-align: center !important;
    font-size: 1rem !important;
  }
}

.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.padding {
  color: #d5d5d5;
  padding-top: 3rem;
  //margin-top: 4rem;
}

.team-row {
  display: flex;
  justify-content: space-around;
}

#about {
  color: #0c7e32;
}

#btn-link {
  background: transparent !important;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #fff;
  border-radius: 50px;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 1px;
  outline: none;
  color: #eee;
  cursor: pointer;
  padding: 10px 30px !important;
  text-decoration: none;
  transition: 0.5s;
}

.btn-product {
  border-radius: 40px;
}

.products-col {
  color: #219653;
}

#btn-link:hover {
  background: #1e7e34 !important;
}

header.masthead .masthead-subheading {
  font-weight: 700;
  font-size: 50px;
  color: #6fcf97;
  line-height: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
}

@media (max-width: 768px) {
  header.masthead .masthead-subheading {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .section .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 25%;
  }
}

.img-style {
  width: 100% !important;
  height: 12vh;
  margin: auto !important;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .section .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 575.98px) {
  .img-style {
    width: 100% !important;
    height: auto;
    margin: auto !important;
  }
}

.about-page {
  font-family: 'Droid Serif', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 140.62%;
  color: rgba(35, 180, 97, 0.96);
  text-align: justify;
}

.team {
  width: 18rem;
}

@media (max-width: 575.98px) {
  .team {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 992px)
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px !important;
}